<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"><%=blog.title %></div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%=blog.image %>">
			<div class="content">
				<span><%= blog.created.toDateString() %></span>
			</div>
			<div class="description">
				<!-- 	Using '-' instead of '=' after the opening JS tag (< %)	causes any HTML entered into the blog.body area to be rendered;
				using the express-sanitizer package on this object (blog.body) causes the removal of any "<script></script>" tags that the user
				may have added in an attempt to run malicious code-->
				<p><%- blog.body %></p>
			</div>
			<a class="ui orange inverted button" href="/blogs/<%= blog._id %>/edit">Edit</a>
			<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="ui red inverted button">Delete</button>
			</form>
		</div>	
	</div>
</div>

<% include partials/footer %>